# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Cache
.cache
dist
build

# Vercel
.vercel

# IDEs
.vscode/
.idea/